body
{
	background: rgba(224, 200, 190, 1);
}

.main
{
	height: 700px;
}

.body-header
{
	background: rgba(255,255,255,0.9);
	z-index: 10;
	height: 114px;
}

.logo-holder
{
	position:absolute;
	margin-left:20%;
	margin-top:15px;
}

.started-button
{
	position: absolute;
	margin-top: 7px;
	margin-bottom: 20px;
}

.footer
{
	display: block;
	text-align: center;
	color: #a3a3a3;
	margin-top: 20px;
}

.link
{
	color: #a3a3a3;
	padding-left: 14px;
	padding-right: 14px;
}

.copy
{
	text-align: right;
	margin-top: 20px;
}

.rounded-img
{
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-khtml-border-radius: 12px;
}

.main-img
{
	width: 150px;
	height: 150px;
}

.sub-img
{
	width: 60px;
	height: 60px;
	cursor: pointer;
}

.fine
{
	color: #496d7c;
	font-family: 'Helvetica Neue';
	font-weight: 300;
}

.name-text
{
	font-size: 2em;
	font-weight: 700;
}

.location-text
{
	font-size: 0.75em;
	font-weight: 300;
}

.blurb-text
{
	color: #0b3151;
}

.text-par
{
	margin-top: 1em;
	margin-bottom: 1em;
}

#floater
{
	position:absolute;
	top: 114px;
	width: 100%;
	height: 586px;
	z-index: 1;
}

#raphael_left
{
	position:absolute;
	left: 0px;
	top: 0px;
	width:103px;
	height:700px;
	z-index: 2;
}

#raphael_right
{
	position:absolute;
	right: 0px;
	top: 0px;
	width:103px;
	height: 700px;
	z-index: 2;
}

#photo_holder_holder
{
	position:absolute;
	z-index: -1;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 700px;
	overflow:hidden;
}
#photo_holder_rain
{
	position:absolute;
	top: 0px;
	width: 100%;
	min-width: 1050px;
	min-height: 700px;
	z-index: 2;
	visibility: visible;
}
#photo_holder_barn
{
	position:absolute;
	top: 0px;
	width: 100%;
	min-width: 1050px;
	min-height: 700px;
	z-index: 1;
	visibility: hidden;
}
#photo_holder_glacier
{
	position:absolute;
	top: 0px;
	width: 100%;
	min-width: 1050px;
	min-height: 700px;
	z-index: 1;
	visibility: hidden;
}
#content
{
	font-family: 'Helvetica';
	font-size: 28px;
	color: #0b3151;
	line-height: 1.5em;
	font-weight: 100;
}
#content h1
{
	font-family: 'ubuntu';
	font-weight: 400;
	-webkit-text-stroke-width: 0.05em;
	letter-spacing: 0.05em;
	text-shadow: 0.01em 0.01em rgba(73, 109, 124, 0.6);
	color: #496d7c;
	stroke-width: 8px;
}